@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookingSuccses</title>
</head>
<body>
    <div class="container col-lg-12" style="background-color: white; opacity: 0.8; margin-left: 20px; ">

        <h2 style="font-size: xx-large; ">Booking Succeeded</h2>
    
</div>
</body>
</html>
