body {
	/*background-image: url('/Assets/Images/BackgroundImg.jpg');*/
}

.editor-amount-selector label {
    float: left;
    width: 60px;  
  text-align: right;
}
.editor-amount-selector input {
  width: 45px; 
  margin: 0 0 0 10px;
  
}