.tableBooking {
	border: 2px solid lightgrey;
	padding: 8px;
}

.t .editor-field {
	color: red;
}

html {
	margin: 0;
	padding: 0;
}

.navbar {
	margin-bottom: 20px;
	background-color: rgba(247, 255, 146, 0.45);
}

.navbar-default {
	border: none;
}

	.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
		border-radius: 5px;
		margin: 5px;
		padding: 12px;
	}

		.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
			text-decoration: none;
			background-color: rgba(166, 219, 237, 0.45);
		}

body {
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
	margin-top: 20px;
}

header, footer, hgroup,
nav, section {
	display: block;
}

mark {
	background-color: #a6dbed;
	padding-left: 5px;
	padding-right: 5px;
}

.clear-fix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.restaurantImg {
	max-height: 160px;
	max-width: 160px;
	margin: 5px;
}

.restaurantInfo {
	margin: 0 0 0 160px;
}

.restaurantInfo h3 {
	font-weight: bold;
	color: #002778;
}

.restaurangItem {
	padding: 10px;
	  overflow: hidden;
}

.image {
	float: left;
}
/* footer
    ----------------------------------------------------------*/
footer {
	background-color: black;
	clear: both;
	font-size: .8em;
	height: 100px;
}

	footer .float-left,
	footer .float-right {
		float: none;
	}

footer {
	height: auto;
	padding: 10px 0;
	text-align: center;
}

	footer p {
		margin: 0;
	}